/* remove margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
}

/* ? without this, there is a 4 pixel gap below the canvas and I don't know why */
/* header and footer display with no spacing between */
body {
  display: flex;
  flex-direction: column;
}

/* noscript */
noscript {
  display: flex;
  width: 60vw;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
}

.dead-tux {
  height: 5rem;
  width: 5rem;
  background: url(../animations/penguin/penguin_die04.png) no-repeat center center / contain;
}
.dead-tux:last-of-type {
  transform: scaleX(-1);
}
/* end of noscript */

header,
footer {
  /*! styles only to test responsive canvas */
  height: 10vh;
  background-color: blue;
}