/* remove margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
}

/* ? without this, there is a 4 pixel gap below the canvas and I don't know why */
/* header and footer display with no spacing between */
body {
  display: flex;
  flex-direction: column;
}

/* noscript */
noscript {
  display: flex;
  width: 60vw;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
}

.dead-tux {
  height: 5rem;
  width: 5rem;
  background: url(../animations/penguin/penguin_die04.png) no-repeat center center / contain;
}
.dead-tux:last-of-type {
  transform: scaleX(-1);
}
/* end of noscript */

header,
footer {
  /*! styles only to test responsive canvas */
  height: 10vh;
  background-color: purple;
}

/* ---------------------------------------------------------------------- Health / Snowballs / Audio bar */

/* ------------------------------ Grid */

.progress-container {
  height: 5vh;
  position: absolute;
  top: 10vh;
  width: 100%;
  border-bottom: 2px solid black;
}

.progress-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
}

.grid-item {
  height: 5vh;
}

/* ------------------------------ Overall */

.height {
  height: 100%;
}

/* ------------------------------ Overlays */

.snowball-meter, .health-meter {
  height: 100%;
}

.progress-overlay {
  z-index: 2;
  background-color: white;
  border-radius: 15px;
  height: 70%;
  left: 20px;
  padding: 0 10px;
  width: 70%;
  margin-left: 50px;
  position: relative;
  top: -5vh;
}

.snowball-bar-back, .health-bar-back {
  width: 81%;
}

.progress-bar-inner {
  position: relative;
  background-color: aqua;
  height: 70%;
  top: 13%;
  z-index: 3;
  border-radius: 10px;
}

#health-bar, #snowball-bar {
  width: 100%;
}

/* ------------------------------ Audio button */

.audio-buttons {
  margin-left: 5px;
}

.audio-button {
  z-index: 2;
  cursor: pointer;
}

.audio-button:hover,
.audio-button:focus {
  box-sizing: border-box;
  border: 1px solid aqua;
}

.hide {
  display: none !important;
}

/* ------------------------------ Instructions button */

.instructions-click:hover,
.instructions-click:focus {
  box-sizing: border-box;
  border: 1px solid aqua;
  cursor: pointer;
}

.play-icon,
.pause-icon,
.instructions-i {
  color: black;
  position: relative;
}

.play-icon,
.pause-icon {
  top: -1.7vh;
  left: -3.9vh;
}

.instructions-i {
  top: -16px;
  left: -29px;
}

/* ---------------------------------------------------------------------- Modals */

.opaque-overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  width: 50%;
  left: 25%;
  position: absolute;
  top: 20vh;
  border: 2px solid black;
  padding: 35px;
  line-height: 30px;
  background-image: url('../background/modals.png');
  z-index: 5;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
}

.header {
  margin-top: 120px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.modal-text {
  margin-top: 10px;
  font-size: 1.1rem;
}

.modal-header, .modal-p {
  text-align: center;
}

.modal-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

button {
  border-radius: 10px;
  padding: 10px;
}

.replay {
  background-color:forestgreen;
}

.game-over-button {
  margin-bottom: 20px;
}

.text-small {
  font-size: 0.5rem;
}

.quit-bad {
  position: absolute;
  padding: 3px;
}

.quit-good {
  background-color: aqua;
}